body {
    margin: 0;
    padding: 100px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.creation-container {
    display: block;
    grid-template-rows: auto;
    .creation-content {
        background-color: white;
        padding: 15px;
        border-radius: 25px;
        border: 1px solid #707070;
        section.step-section {
            &.layout-container-grid {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
            }
            .layout-container {
                height: 250px;
                margin: 5px;
                border: 1px solid #707070;
                border-radius: 25px;
            }
        }
    }
}

.carousel {
    position: relative;
    display: flex;
    flex-direction: row;
    min-height: 450px;
    padding-bottom: 50px;
    .carousel-button-container {
        position: absolute;
        height: 50px;
        bottom: 0;
        right: 0;
        padding: 15px;
        box-sizing: border-box;
    }
    .card {
        position: absolute;
        height: 100%;
        width: 100%;
        display: none;
        box-sizing: border-box;
        padding-bottom: 50px;
        &.current {
            display: block;
        }
    }
}

.question-container {
    margin: 25px;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 25px;
    border: 1px solid #707070;
    .save {
        height: 25px;
    }
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 35px;
    margin-bottom: 20px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #FF6666;
}

input:focus + .slider {
    box-shadow: 0 0 1px #FF6666;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.disable-template {
    color: #707070;
}