.quiz-header {
    text-align: center;
}

.title {
    font-size: 50px;
}

.category {
    font-size: 30px;
}

/* QUIZ CONTAINER */

.quiz-container {
    padding: 2em 5em;
    max-height: 500px;
    overflow-y: scroll;
    height: 500px;
    margin: 3em 0 0 0;
    border: 1px solid #707070;
    border-radius: 8px;
    transition: 0.3s;
    background-color: #FFFFFF;
}

.question-container-reply {
    margin-top: 3em;
}


.answer {
    margin-top: 20px;
}

.reply-btn-container {
    display: flex;
    margin-top: 3em;
}

.finish-reply {
    margin-right: auto;
    font-size: 20px;
}

.answer-input {
    font-size: 20px;
}